* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 0 #000;
  font-size: 3rem;
  margin-top: 30px;
  margin-left: 20px;
}

img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.description {
  margin: 10px;
}

.ingredients {
  margin: 10px;
}

.directions {
  margin: 10px;
}

.ingredients h3,
.description h3,
.directions h3 {
  margin-bottom: 10px;
}
