* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

header {
  background: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?cs=srgb&dl=pexels-ella-olsson-1640777.jpg&fm=jpg");
  background-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 50vh;
  color: white;
}

header h1 {
  font-size: 4rem;
  text-shadow: 1px 1px 0 #000;
}

p {
  padding: 20px;
  font-size: 20px;
}

a {
  padding: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #ff8c00;
  text-shadow: 0.5px 0.5px #ff8c00;
}
